.dog {
  margin: 20px 0 0;
  border: 1px solid #c7cacc;
}

.dog .divImg {
  overflow: hidden;
  max-height: 300px;
}
.dog .divImg img {
  width: 100%;
}

.dog .footer {
  padding: 10px;
  display: flex;
  flex-direction: row;
  border-top: 1px solid #c7cacc;
  justify-content: space-between;
}
.dog .footer img {
  width: 25px;
}
.dog .footer .bookmark {
  width: 20px;
}
.dog .footer .comment {
  margin-left: 10px;
}
.dog .footer .init {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.dog button {
  border: 0;
  background: transparent;

  display: flex;
  color: #697882;
  cursor: pointer;
  align-items: center;
}

.dog button img {
  transition: 0.5s;
  margin-right: 5px;
}

.dog button:hover {
  opacity: 0.7;
  transition: 0.5s;
}
